table.type06 {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
table.type06 th {
  width: 150px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
    border-top: 0.5px solid #222;
  border-bottom: 0.5px solid #222;
}
table.type06 td {
  width: 350px;
  padding: 10px;
  vertical-align: top;
border-top: 0.5px solid #222;
  border-bottom: 0.5px solid #222;
}
table.type06 .even {
  background: #efefef;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);

  z-index: -1;
  opacity: 0;
}

.window {
  position: relative;
  width: 100%;
  height: 100%;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
  
  /* 임시 지정 */
  width: 1000px;
  height: 500px;

  transform: translate(-50%, -40%);
}

.show .popup {
  transform: translate(-50%, -50%);
  transition: all .5s;
}

.show {
  opacity: 1;
  z-index: 1000;
  transition: all .9s;
}

#resellModal{
  display: none;
}

.resellModal{
  display: none;
  
}

.sizeBtn{
  display	: flex;
  text-align: center;
  vertical-align: middle;
  margin-top: 60px;
  justify-content: space-evenly;
}

.close-resell-btn{
  position: absolute;
  bottom: 0px;
}

.resellPrice{
  width: 100px;
  height: 35px;
  text-align: center;
}

.productName {
	margin-top: 1%;
    margin-left: 50%;
    font-size: 25px;
    font-weight: bold;
}

.myResellInfo {
	margin-top: 5%;
    margin-left: 50%;
    font-size: 20px;
}

table {
    width: 40%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
    float: left;
}

#curPrice {
 margin-left:20%;
}

.changePrice {
	margin-top: 3%;
	margin-left: 50%;
}

#input1 {
	width: 200px;
	height: 50px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 3px solid black;
	font-size: 12pt;
	color: grey;
}

caption {
	display: flex;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: inherit;
}

.regBtn{
	color: white;
    margin-left: 3%;
    height: 50px;
    width: 120px;
}

.myRank {
	color: green;
	font-size:12px;
	font-weight: bold;
}