@charset "UTF-8";

@font-face {
  font-family: 'sixshop';
  src:  url('fonts/sixshop.eot?6x8kf5');
  src:  url('fonts/sixshop.eot?6x8kf5#iefix') format('embedded-opentype'),
    url('fonts/sixshop.ttf?6x8kf5') format('truetype'),
    url('fonts/sixshop.woff?6x8kf5') format('woff'),
    url('fonts/sixshop.svg?6x8kf5#sixshop') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ico-"], [class*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sixshop' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-zigzag:before {
  content: "\e9d0";
}
.ico-bag-border:before {
  content: "\e9c4";
}
.ico-bag:before {
  content: "\e9c5";
}
.ico-cart-border:before {
  content: "\e9c6";
}
.ico-cart:before {
  content: "\e9c7";
}
.ico-menu-border:before {
  content: "\e9c8";
}
.ico-menu:before {
  content: "\e9c9";
}
.ico-search-border:before {
  content: "\e9ca";
}
.ico-search:before {
  content: "\e9cb";
}
.ico-snowman-border:before {
  content: "\e9cc";
}
.ico-snowman:before {
  content: "\e9cd";
}
.ico-user-border:before {
  content: "\e9ce";
}
.ico-user:before {
  content: "\e9cf";
}
.ico-pushpin-big:before {
  content: "\e9c3";
  color: #fff;
}
.ico-close-circle-line:before {
  content: "\e9c2";
}
.ico-print:before {
  content: "\e9c1";
}
.ico-file:before {
  content: "\e9c0";
}
.ico-chevron-left-line-big2:before {
  content: "\e900";
}
.ico-chevron-right-line-big2:before {
  content: "\e901";
}
.ico-img-big:before {
  content: "\e902";
}
.ico-account-circle-line-big:before {
  content: "\e903";
}
.ico-add-circle-line-big:before {
  content: "\e904";
}
.ico-customer-manage-line-big:before {
  content: "\e905";
}
.ico-domain-line-big:before {
  content: "\e906";
}
.ico-global-line-big:before {
  content: "\e907";
}
.ico-orderlist-line-big:before {
  content: "\e908";
}
.ico-payment-add-line-big:before {
  content: "\e909";
}
.ico-pencil-line-big:before {
  content: "\e90a";
}
.ico-product-line-big:before {
  content: "\e90b";
}
.ico-sale-line-big:before {
  content: "\e90c";
}
.ico-shipment-line-big:before {
  content: "\e90d";
}
.ico-shop-line-big:before {
  content: "\e90e";
}
.ico-account-circle-line:before {
  content: "\e90f";
}
.ico-add-circle-line:before {
  content: "\e910";
}
.ico-arrow-circle-right-line-big:before {
  content: "\e911";
}
.ico-board-big:before {
  content: "\e912";
}
.ico-board-line-big:before {
  content: "\e913";
}
.ico-cancle-square-line:before {
  content: "\e914";
}
.ico-category-big:before {
  content: "\e915";
}
.ico-channelad:before {
  content: "\e916";
}
.ico-customer-manage-line:before {
  content: "\e917";
}
.ico-dashboard-big:before {
  content: "\e918";
}
.ico-detailsearch-line:before {
  content: "\e919";
}
.ico-domain-big:before {
  content: "\e91a";
}
.ico-domain-line:before {
  content: "\e91b";
}
.ico-exchange-line:before {
  content: "\e91c";
}
.ico-facebook-circle:before {
  content: "\e91d";
}
.ico-facebook:before {
  content: "\e91e";
}
.ico-flag-big:before {
  content: "\e91f";
}
.ico-global-line:before {
  content: "\e920";
}
.ico-grade-big:before {
  content: "\e921";
}
.ico-img:before {
  content: "\e922";
}
.ico-info-big:before {
  content: "\e923";
}
.ico-instagram-line:before {
  content: "\e924";
}
.ico-list-new-ilne:before {
  content: "\e925";
}
.ico-naver:before {
  content: "\e926";
}
.ico-order-big:before {
  content: "\e927";
}
.ico-order-line-big:before {
  content: "\e928";
}
.ico-orderlist-line:before {
  content: "\e929";
}
.ico-payment-add-line:before {
  content: "\e92a";
}
.ico-payment-complete-line:before {
  content: "\e92b";
}
.ico-payment-wait-line:before {
  content: "\e92c";
}
.ico-pencil-big:before {
  content: "\e92d";
}
.ico-pencil-line:before {
  content: "\e92e";
}
.ico-play-circle:before {
  content: "\e92f";
}
.ico-product-line:before {
  content: "\e930";
}
.ico-product-sell-line:before {
  content: "\e931";
}
.ico-product-stop-line:before {
  content: "\e932";
}
.ico-question-big:before {
  content: "\e933";
}
.ico-quotation-big:before {
  content: "\e934";
}
.ico-return-square-line:before {
  content: "\e935";
}
.ico-sale-line:before {
  content: "\e936";
}
.ico-search-line-big:before {
  content: "\e937";
}
.ico-shipment-big:before {
  content: "\e938";
}
.ico-shipment-line:before {
  content: "\e939";
}
.ico-shipment-ready-line:before {
  content: "\e93a";
}
.ico-shop-line:before {
  content: "\e93b";
}
.ico-wrong-triangle-line:before {
  content: "\e93c";
}
.ico-wrong:before {
  content: "\e93d";
}
.ico-youtube:before {
  content: "\e93e";
}
.ico-add-circle-big:before {
  content: "\e93f";
}
.ico-answer-line:before {
  content: "\e940";
}
.ico-arrow-next-line:before {
  content: "\e941";
}
.ico-arrow-prev-line:before {
  content: "\e942";
}
.ico-call-line:before {
  content: "\e943";
}
.ico-chevron-left-line-big:before {
  content: "\e944";
}
.ico-chevron-right-line-big:before {
  content: "\e945";
}
.ico-close-line-big:before {
  content: "\e946";
}
.ico-cs-line:before {
  content: "\e947";
}
.ico-desktop-line:before {
  content: "\e948";
}
.ico-download-line-big:before {
  content: "\e949";
}
.ico-equals-circle-big:before {
  content: "\e94a";
}
.ico-exit-line:before {
  content: "\e94b";
}
.ico-guidebook-line:before {
  content: "\e94c";
}
.ico-menu-line:before {
  content: "\e94d";
}
.ico-minus-circle-big:before {
  content: "\e94e";
}
.ico-mobile-line:before {
  content: "\e94f";
}
.ico-news-line:before {
  content: "\e950";
}
.ico-outlink-line:before {
  content: "\e951";
}
.ico-question-line:before {
  content: "\e952";
}
.ico-upload-line-big:before {
  content: "\e953";
}
.ico-account-setting:before {
  content: "\e954";
}
.ico-account:before {
  content: "\e955";
}
.ico-add-circle:before {
  content: "\e956";
}
.ico-answer-line-s:before {
  content: "\e957";
}
.ico-api:before {
  content: "\e958";
}
.ico-arrow-circle-right-line-s:before {
  content: "\e959";
}
.ico-arrow-next:before {
  content: "\e95a";
}
.ico-arrow-prev:before {
  content: "\e95b";
}
.ico-badge:before {
  content: "\e95c";
}
.ico-blog:before {
  content: "\e95d";
}
.ico-board:before {
  content: "\e95e";
}
.ico-calendar:before {
  content: "\e95f";
}
.ico-call:before {
  content: "\e960";
}
.ico-card:before {
  content: "\e961";
}
.ico-category:before {
  content: "\e962";
}
.ico-change:before {
  content: "\e963";
}
.ico-check-circle:before {
  content: "\e964";
}
.ico-check-line:before {
  content: "\e965";
}
.ico-chevron-down-line:before {
  content: "\e966";
}
.ico-chevron-left-line:before {
  content: "\e967";
}
.ico-chevron-right-line:before {
  content: "\e968";
}
.ico-chevron-up-line:before {
  content: "\e969";
}
.ico-close-circle:before {
  content: "\e96a";
}
.ico-close-line:before {
  content: "\e96b";
}
.ico-coupon:before {
  content: "\e96c";
}
.ico-cs-line-s:before {
  content: "\e96d";
}
.ico-customer:before {
  content: "\e96e";
}
.ico-dashboard:before {
  content: "\e96f";
}
.ico-delete:before {
  content: "\e970";
}
.ico-design:before {
  content: "\e971";
}
.ico-desktop-line-s:before {
  content: "\e972";
}
.ico-disconnect-line:before {
  content: "\e973";
}
.ico-document:before {
  content: "\e974";
}
.ico-domain:before {
  content: "\e975";
}
.ico-download-line:before {
  content: "\e976";
}
.ico-duplication:before {
  content: "\e977";
}
.ico-extend:before {
  content: "\e978";
}
.ico-grade:before {
  content: "\e979";
}
.ico-guide-circle-line:before {
  content: "\e97a";
}
.ico-guidebook-line-s:before {
  content: "\e97b";
}
.ico-info-circle:before {
  content: "\e97c";
}
.ico-info-triangle:before {
  content: "\e97d";
}
.ico-info:before {
  content: "\e97e";
}
.ico-link-line:before {
  content: "\e97f";
}
.ico-list:before {
  content: "\e980";
}
.ico-mail-line:before {
  content: "\e981";
}
.ico-mail:before {
  content: "\e982";
}
.ico-master:before {
  content: "\e983";
}
.ico-menu-line-s:before {
  content: "\e984";
}
.ico-mobile-line-s:before {
  content: "\e985";
}
.ico-movecontrol:before {
  content: "\e986";
}
.ico-naverpay:before {
  content: "\e987";
}
.ico-news-line-s:before {
  content: "\e988";
}
.ico-notice:before {
  content: "\e989";
}
.ico-operatorsinfo:before {
  content: "\e98a";
}
.ico-order:before {
  content: "\e98b";
}
.ico-partcancle:before {
  content: "\e98c";
}
.ico-pencil:before {
  content: "\e98d";
}
.ico-plus-line:before {
  content: "\e98e";
}
.ico-plus-square-line:before {
  content: "\e98f";
}
.ico-point-circle:before {
  content: "\e990";
}
.ico-preview-line:before {
  content: "\e991";
}
.ico-price-circle:before {
  content: "\e992";
}
.ico-price-global-circle:before {
  content: "\e993";
}
.ico-product:before {
  content: "\e994";
}
.ico-question-circle-line:before {
  content: "\e995";
}
.ico-question-line-s:before {
  content: "\e996";
}
.ico-quotation:before {
  content: "\e997";
}
.ico-receipt-line:before {
  content: "\e998";
}
.ico-reset:before {
  content: "\e999";
}
.ico-review:before {
  content: "\e99a";
}
.ico-search-line:before {
  content: "\e99b";
}
.ico-security-1:before {
  content: "\e99c";
}
.ico-security:before {
  content: "\e99d";
}
.ico-setting:before {
  content: "\e99e";
}
.ico-shipment:before {
  content: "\e99f";
}
.ico-shop-setting:before {
  content: "\e9a0";
}
.ico-statistic:before {
  content: "\e9a1";
}
.ico-upgrade:before {
  content: "\e9a2";
}
.ico-upload-line:before {
  content: "\e9a3";
}
.ico-wrong-circle:before {
  content: "\e9a4";
}
.ico-wrong1:before {
  content: "\e9a5";
}
.ico-accounttransfer:before {
  content: "\e9a6";
}
.ico-card-s:before {
  content: "\e9a7";
}
.ico-home:before {
  content: "\e9a8";
}
.ico-mobile-s:before {
  content: "\e9a9";
}
.ico-pencil-s:before {
  content: "\e9aa";
}
.ico-point-circle-s:before {
  content: "\e9ab";
}
.ico-price-circle-s:before {
  content: "\e9ac";
}
.ico-price-global-circle-s:before {
  content: "\e9ad";
}
.ico-setting-s:before {
  content: "\e9ae";
}
.ico-virtualaccount:before {
  content: "\e9af";
}
.ico-check-line-s:before {
  content: "\e9b0";
}
.ico-chevron-down-line-s:before {
  content: "\e9b1";
}
.ico-chevron-left-line-s:before {
  content: "\e9b2";
}
.ico-chevron-right-line-s:before {
  content: "\e9b3";
}
.ico-chevron-up-line-s:before {
  content: "\e9b4";
}
.ico-close-line-s:before {
  content: "\e9b5";
}
.ico-plus-line-s:before {
  content: "\e9b6";
}
.ico-chevron-down-line-xs:before {
  content: "\e9b7";
}
.ico-chevron-left-line-xs:before {
  content: "\e9b8";
}
.ico-chevron-right-line-xs:before {
  content: "\e9b9";
}
.ico-chevron-up-line-xs:before {
  content: "\e9ba";
}
.ico-expansion:before {
  content: "\e9bb";
}
.ico-triangle-down:before {
  content: "\e9bc";
}
.ico-triangle-left:before {
  content: "\e9bd";
}
.ico-triangle-right:before {
  content: "\e9be";
}
.ico-triangle-up:before {
  content: "\e9bf";
}