<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chysk5.mapper.CartMapper">

<!-- 카트 조회 -->
<select id="cartList" resultType="com.chysk5.domain.CartDTO">
<![CDATA[
select c.*,p.pro_name,p.pro_price,po.pro_opt_size,po.pro_opt_stock,pi.pro_loc
from cart c, product p, product_option po,(
select pro_loc, product_pro_id from(
select pro_loc, product_pro_id,row_number()over(partition by product_pro_id order by pro_Loc) as rownumber
from pro_image)
where rownumber<=1
order by product_pro_id
) pi
where p.pro_id= pi.product_pro_id
  and p.pro_id =po.product_pro_id
  and po.pro_opt_id=c.product_option_pro_opt_id
  and c.member_mem_id =#{mem_id}
order by c.cart_regdate desc
]]>
</select>

<!-- 카트 담기 -->
<insert id="addCart">
insert into cart(cart_no,cart_regdate,cart_select,member_mem_id,product_option_pro_opt_id,cart_amount)
values(cart_seq.nextval,SYSDATE,0,#{member_mem_id},#{product_option_pro_opt_id},1)
</insert>

<!--option id 조회 -->
<select id="searchOptid" resultType="String" >

select a.pro_opt_id
from product_option a,product b
where a.product_pro_id= #{product_pro_id}
 and a.pro_opt_size= #{pro_opt_size}
 and b.pro_name= #{pro_name}
 
</select>

<select id="checkCart" resultType="int">
		select count(*) from cart
                     where product_option_pro_opt_id =#{product_option_pro_opt_id}
                     and member_mem_id = #{member_mem_id}
</select>

<!-- 장바구니 담기시 중복 물품 존재하면 카트 수량 증가 -->
<update id="increaseCount">
            update cart
            set cart_amount = 1 + (
                     select cart_amount from cart
                      where product_option_pro_opt_id =#{product_option_pro_opt_id}
                     and member_mem_id = #{member_mem_id}
                     )
               where product_option_pro_opt_id =#{product_option_pro_opt_id}
                     and member_mem_id = #{member_mem_id}       
</update>


<delete id = "delete">
		delete from cart where member_mem_id = #{member_mem_id} and product_option_pro_opt_id =#{product_option_pro_opt_id}
	</delete>
	
<!-- 카트선택 여부	 -->
<update id ="Cartcheck">
   update cart
   set cart_select=#{cart_select}
   where cart_no=#{cart_no}
</update>
	
<!-- 체크된 상품 삭제 -->	
<delete id = "deleteCheck">
		delete from cart where member_mem_id = #{mem_id} and cart_select='1'
	</delete>	
<!-- 장바구니 수량 update -->
<update id ="updateCnt">
     update cart
     set cart_amount=#{cart_amount}
     where cart_no=#{cart_no}
</update>

<!-- 장바구니 전체금액 -->
<select id="totalPrice" resultType="String">
select sum(c.cart_amount*p.pro_price) as totalprice
from cart c, product p, product_option po
where p.pro_id= po.product_pro_id
  and po.pro_opt_id=c.product_option_pro_opt_id
  and c.cart_select='1'
  and c.member_mem_id =#{mem_id}


</select>

<delete id="deleteAll">
delete from cart where member_mem_id=#{mem_id}
</delete>

<!-- 장바구니에 담겨있는 수량 select -->
<select id="selectCartCnt" resultType="int">
	SELECT COUNT(*)
	FROM cart
	WHERE member_mem_id = #{mem_id}
</select>

</mapper>