<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.chysk5.mapper.MyPageMapper">
  
  	<select id="getMyResellList" resultType="com.chysk5.domain.MyResellProductDTO">

	SELECT r.re_regdate, r.re_price, p.pro_name, po.pro_opt_size, pi.pro_loc, re_id
	FROM r_product r
	INNER JOIN product_option po
	ON r.product_option_pro_opt_id = po.pro_opt_id
	INNER JOIN member m
	ON m.mem_id = r.member_mem_id
	INNER JOIN product p
	ON p.pro_id = po.product_pro_id
	INNER JOIN pro_image pi
	on pi.product_pro_id = p.pro_id
	AND pi.pro_loc like('%medium%')
	WHERE m.mem_id = #{mem_id}
	
	</select>
	
	<delete id="removeMyResellProduct">
	
	DELETE FROM r_product
	WHERE re_id = #{re_id}
		
	</delete>
	
	<!-- 총 구매 금액 -->
	<select id="totalOrderPrice" resultType="int">
		SELECT NVL(SUM(pro_price*order_detail_amount), 0)
		FROM 
		    (SELECT pro_id, pro_opt_id, pro_price
		    FROM product p, product_option po
		    WHERE p.pro_id = po.product_pro_id) p, 
		    (SELECT MEMBER_MEM_ID, PRODUCT_OPTION_PRO_OPT_ID AS opt_id, ORDER_TOTAL_ORDER_NO, order_detail_amount
		    FROM order_total ot, order_detail od
		    WHERE ot.order_no = od.order_total_order_no
		    AND MEMBER_MEM_ID = #{mem_id}) m
		WHERE p.pro_opt_id = m.opt_id
	</select>
  </mapper>