<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chysk5.mapper.ProductMapper">
<!-- 작성자 : 김주혜 -->

	<select id="getPList" resultType="com.chysk5.domain.ProductDTO">
		<![CDATA[
		select t.pro_id, t.pro_name, t.pro_category, t.pro_price, t.loc1, t.loc2
		from
		(
		    SELECT rownum rn, p.pro_id, p.pro_name, p.pro_category, p.pro_price, i1.loc1, i2.loc2
		    FROM product p, product_list_img1 i1, product_list_img2 i2
		    WHERE i1.product_pro_id = i2.product_pro_id 
		        AND p.pro_id = i1.product_pro_id 
		        AND p.pro_category = #{category}
		        AND rownum <= #{criteria.pageNum} * #{criteria.amount}
		    ORDER BY p.pro_name
		) t
		WHERE rn > (#{criteria.pageNum}-1) * #{criteria.amount}
		]]> 
	</select>

	<select id="getProductOption"
		resultType="com.chysk5.domain.ProductDTO">

		SELECT pro_id, pro_name, pro_category, pro_price
		FROM
		product
		WHERE pro_id = #{pro_id}

	</select>

	<select id="getProductSize"
		resultType="com.chysk5.domain.ProductSizeDTO">

		SELECT distinct pro_opt_size, product_pro_id FROM
		product_option
		WHERE product_pro_id = #{pro_id}
		ORDER BY
		(
		CASE
		pro_opt_size
		WHEN 'S' THEN 0
		WHEN 'M' THEN 1
		WHEN 'L' THEN 2
		ELSE 3
		END
		)

	</select>

	<select id="getProductImg"
		resultType="com.chysk5.domain.ProductImgDTO">

		SELECT pro_loc, product_pro_id FROM pro_image
		WHERE
		product_pro_id = #{pro_id}

	</select>
	
	<select id="getProductSearch"
		resultType="com.chysk5.domain.ProductDTO">

		SELECT p.pro_id, p.pro_name, p.pro_category, p.pro_price, i1.loc1, i2.loc2
		FROM product p, product_list_img1 i1, product_list_img2 i2
		WHERE i1.product_pro_id = i2.product_pro_id 
		AND p.pro_id = i1.product_pro_id 
		AND pro_name like upper('%'||#{keyword}||'%')
		ORDER BY to_number(pro_id) DESC

	</select>
	
	<select id="getTotalCount" resultType="int">
		SELECT count(*)
		FROM product
		WHERE pro_category = #{category}
	</select>

	<select id="getNewIn" resultType="com.chysk5.domain.ProductDTO">
	  <![CDATA[
		SELECT p.pro_id, p.pro_name, p.pro_price, i1.loc1, i2.loc2
		FROM product p, product_list_img1 i1, product_list_img2 i2
		WHERE i1.product_pro_id = i2.product_pro_id AND p.pro_id = i1.product_pro_id AND rownum <= 20
		ORDER BY p.pro_regdate DESC
	  ]]> 

	</select>


</mapper>
  