<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chysk5.mapper.ProductMapper">

	<select id="getPList" resultType="com.chysk5.domain.ProductDTO">

		SELECT p.pro_id, p.pro_name, p.pro_category, p.pro_price, i1.loc1, i2.loc2
		FROM product p, product_list_img1 i1, product_list_img2 i2
		WHERE i1.product_pro_id = i2.product_pro_id AND p.pro_id = i1.product_pro_id AND p.pro_category = #{category}
		ORDER BY p.pro_name

	</select>

	<select id="getProductOption"
		resultType="com.chysk5.domain.ProductDTO">

		SELECT pro_id, pro_name, pro_category, pro_price
		FROM
		product
		WHERE pro_id = #{pro_id}

	</select>

	<select id="getProductSize"
		resultType="com.chysk5.domain.ProductSizeDTO">

		SELECT distinct pro_opt_size, product_pro_id FROM
		product_option
		WHERE product_pro_id = #{pro_id}
		ORDER BY
		(
		CASE
		pro_opt_size
		WHEN 'S' THEN 0
		WHEN 'M' THEN 1
		WHEN 'L' THEN 2
		ELSE 3
		END
		)

	</select>

	<select id="getProductImg"
		resultType="com.chysk5.domain.ProductImgDTO">

		SELECT pro_loc, product_pro_id FROM pro_image
		WHERE
		product_pro_id = #{pro_id}

	</select>





</mapper>
  