<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chysk5.mapper.ReplyMapper">

	<!-- 작성자 : 신수진 -->
	<!-- 댓글 리스트 -->
	<select id="selectReply" resultType="com.chysk5.domain.ReplyDTO">
		SELECT com_id, com_content, com_regdate, talks_talks_id, member_mem_id
		FROM reply
		WHERE talks_talks_id = #{talks_id}
		ORDER BY com_regdate ASC
	</select>

	<!-- 작성자 : 신수진 -->
	<!-- 댓글 등록 -->
	<insert id="insertReply">
		INSERT INTO reply(com_id, com_content, com_regdate, talks_talks_id, member_mem_id)
		VALUES (reply_seq.NEXTVAL, #{com_content}, sysdate, #{talks_talks_id}, #{member_mem_id})
	</insert>
	
	<!-- 작성자 : 신수진 -->
	<!-- 댓글 삭제 -->
	<delete id="deleteReply">
		DELETE FROM reply
		WHERE member_mem_id = #{mem_id} and com_id = #{com_id}
	</delete>

</mapper>
  