<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chysk5.mapper.TalksImageMapper">

<insert id="insert">
	INSERT INTO talks_image (uuid, talks_loc, filename, filetype, talks_talks_id)
	values(#{uuid}, #{talks_loc}, #{fileName}, #{fileType}, #{talks_talks_id})
</insert>

<delete id="delete">
	DELETE FROM talks_image WHERE uuid = #{uuid}
</delete>

<select id="findBytalksId" resultType = "com.chysk5.domain.TalksImageDTO">
	SELECT * FROM talks_image WHERE talks_talks_id = #{talks_talks_id}
</select>

</mapper>