<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chysk5.mapper.TalksMapper">

	<select id="getTalksList" resultType="com.chysk5.domain.TalksDTO">
	
		SELECT talks_id, talks_title, talks_regdate FROM talks
		ORDER BY talks_regdate DESC
	
	</select>
	
	<select id="getTalksContent" resultType="com.chysk5.domain.TalksDTO">
		
		SELECT * from talks
		WHERE talks_id = #{talks_id}
	
	</select>
	
	<delete id="delete">
	   DELETE FROM talks
	   WHERE talks_id = #{talks_id} AND member_mem_id = #{mem_id}
	</delete> 
	
	<update id="register">
	
		INSERT INTO talks(talks_id,talks_title,talks_content, member_mem_id)
    	VALUES(talks_id_seq.NEXTVAL, #{talks_title}, #{talks_content}, #{mem_id})
	
	</update>

	<!-- 조회수 증가 -->
	<update id="updateViews">
		UPDATE talks
		SET views = views + 1
		WHERE talks_id = #{talks_id}
	</update>
</mapper>